.env
.venv
env/
venv/
ENV/
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.pot
*.py[cod]
*$py.class
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
*.iml
.idea/